//src/assets/sidebar-scrollbar.css
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-always {
  scroll-snap-stop: always;
}

.snap-start {
  scroll-snap-align: start;
}